<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create" >Add a new user</a>
    </div>

    <div class="form">
        <form action="/create-user" method="post">
            <fieldset>
                <legend>hi</legend>
                <div class="input-group">
                    <label for="email">email</label>
                    <input type="text" name="email">
                </div>
                <div class="input-group">
                    <label for="name">name</label>
                    <input type="text" name="myname">
                </div>
                <div class="input-group">
                    <label for="city">city</label>
                    <input type="text" name="city">
                </div>
                <div>
                    <button>Create</button>
                </div>
            </fieldset>
        </form>
        
            
    </div>
</body>
</html>